@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spinoff {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(-360deg);
    }
}
@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}
.waitingIndicator {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 200;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.waitingIndicator::before,
.waitingIndicator::after {
    content: ' ';
    position: absolute;
    border: 7px solid;
    border-radius: 50%;
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    display: inline-block;
    box-sizing: border-box;
}
.waitingIndicator::after {
    width: 100%;
    height: 100%;
    border-right-color: rgba(36, 150, 73, 0.9);
    border-bottom-color: rgba(36, 150, 73, 0.9);
    -webkit-animation: spin 0.9s linear infinite;
    -moz-animation: spin 0.9s linear infinite;
    -o-animation: spin 0.9s linear infinite;
    animation: spin 0.9s linear infinite;
}
.waitingIndicator::before {
    margin: 7px;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    border-right-color: #e75731;
    border-bottom-color: #e75731;
    -webkit-animation: spinoff 0.6s linear infinite;
    -moz-animation: spinoff 0.6s linear infinite;
    -o-animation: spinoff 0.6s linear infinite;
    animation: spinoff 0.6s linear infinite;
}